# Ignore everything by default
*

# Keep TeX and PDF files
!*.tex
!*.pdf
!Makefile
!*.sty

# Keep the Fonts directory and all its contents
!Fonts/
!Fonts/**

# Keep the .gitignore file itself
!.gitignore

